.project-card {
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.title-and-delete-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-and-delete-div p:hover{
    background-color: rgba(194, 194, 252,0.3);
    border-radius: 50%;
    transform: translateY(-2px);
}
